<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Wine card</title>
     <link href="https://fonts.googleapis.com/css?family=Marck+Script" rel="stylesheet">
</head>
<body>
{{> "src/structure.hbs"}}
 <script src="src/index.js"></script> 
</body>
</html>
