<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <title>Wine card</title>
    <link href="https://fonts.googleapis.com/css?family=Marck+Script" rel="stylesheet">

</head>

<body>
    <div class="backgroundImg">
        <h1 class="visibility-hidden">Wine card</h1>
        <div class="wine-card-logo">
            <img src="img/Wine_card.png" alt="Wine card application" width="500">
        </div>
        {{> "src/structure.hbs"}}

    </div>
<footer class="footer">
<p class="footer-text">
    По всем вопросам и предложениям пишите info@simplea.ru
</p>
</footer>
    <script src="src/index.js"></script>
</body>

</html>