body {
  padding: 0;
  margin: 0;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 14px;
}

.wine-cards {
  width: 1150px;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.card-item {
  width: 350px;
  height: 525px;
  background-color: rgb(255, 245, 226);
  border-radius: 10px;
  margin: 0 0 20px 0;
  overflow: hidden;
  box-sizing: border-box;
  padding: 0 0 10px 0;

}

.card-item h3 {
  font-family: 'Marck Script', cursive;
  font-size: 22px;
  margin: 0 0 10px 0;
  padding: 10px 0 0 0;
  color: rgb(26, 0, 0);
  text-align: center;
  font-weight: normal;
}

.card-item p {
  margin: 0 0 10px 0;
}

.card-item .card-img {
  position: relative;
  width: 350px;
  height: 300px;
  background-size: cover;
  background-position: 50% 90%;
  border-radius: 10px 10px 0 0;
}

.card-text {
  color: rgb(83, 78, 78);
  padding: 0 5px 5px 5px;
  box-sizing: border-box;
  font-size: 13px;
}
.card-text p:last-child {
  overflow: hidden;
  height: 30px;
  margin: 0;
}

.card-text .bold-text {
  color: rgb(26, 0, 0);
  font-size: 13px;
}
.card-img .wine-color {
  position: absolute;
  top: 103%;
  left: 3%;
  width: 20px;
  height: 20px;
  border-radius: 50%;
}
.red {
  background-color: rgb(154, 31, 73); 
}
.white {
  background-color: rgb(253, 215, 81); 
}
.card-img .wine-raiting {
  text-align: center;
  font-size: 24px;
  color: rgb(250, 167, 1);
  position: absolute;
  top: 102%;
  left: 80%;
}
.card-item .more-info {
  text-align: center;
  color: rgb(250, 167, 1);
  cursor: pointer;
  visibility: hidden;
}
.card-item:hover .more-info  {
  color: rgb(250, 167, 1);
  visibility: visible;
}
.card-item .more-info:hover {
  color: rgb(250, 121, 1);
}
