<section class="selectors">
    <div>
      <label>красное
        <input type="radio" name="color"  value="red" >
      </label>
      <label>белое
        <input type="radio" name="color" value="red">
      </label>
    </div>
    <div>
      <label for="taste-selector"> </label>
      <select name="taste-selector" id="taste-selector">
        <option>сухое</option>
        <option>полусухое </option>
        <option>полусладкое</option>
        <option>сладкое</option>
        <option>игристое</option>
      </select>
    </div>
    <div>
      <label for="search-string" class="visibility-hidden"></label>
      <input type="text" name="search-string" id="search-string" placeholder="Введите название вина">
    </div>
    <div class="add-button">
    </div>
</section>

<section class="wine-cards">
</section>