<section class="selectors">
  <div class="winesColor">
    <label for="color-selector" class="visibility-hidden">Содержание сахара</label>
    <select name="color-selector" id="color-selector" class="selectors-arrow">
      <option value="любое">цвет</option>
      <option value="red">красное</option>
      <option value="white">белое</option>
      <option value="rose">розовое</option>
    </select>
  </div>
  <div>
    <label for="taste-selector" class="visibility-hidden">Содержание сахара</label>
    <select name="taste-selector" id="taste-selector" class="selectors-arrow">
      <option value="любое">сладость / крепость</option>
      <option value="Сухое">сухое</option>
      <option value="Полусухое">полусухое</option>
      <option value="Полусладкое">полусладкое</option>
      <option value="Десертное полусладкое">десертное полусладкое</option>
      <option value="Десертное сладкое">десертное сладкое</option>
      <option value="Сладкое">сладкое</option>
      <option value="Ликерное">ликерное</option>
      <option value="Крепкое">крепкое</option>
    </select>
  </div>
  <div class="sparkling-selector">
    <input type="checkbox" name="sparkling-selector" id="sparkling-selector" value="Игристое" class="visibility-hidden">
    <label for="sparkling-selector">игристое
      <div class="checkbox-view"></div>
    </label>
  </div>
  <div>
    <label for="search-string" class="visibility-hidden">Поиск по названию</label>
    <input type="text" name="search-string" id="search-string" placeholder="Введите название вина">
  </div>
  <button type="button" class="add-button" aria-label="добавить вино">
    ДОБАВИТЬ
  </button>
</section>

<section class="wine-cards">
</section>

<section class="add-wine-form-wrapper">
  <div class="add-wine-form">
    <h3 class="form-titile">Добавить карту</h3>
    <form method="post" enctype="multipart/form-data" name="addcard">
      <ul>
        <li>
          <label for="contributor">Представьтесь</label>
          <input type="text" name="contributor" id="contributor" required>
        </li>
        <li>
          <label for="formName">Марка</label>
          <input type="text" name="formName" id="formName" placeholder="Cabernet" required>
        </li>
        <li class="wineColor">
          <label for="wineColor">Цвет </label>
          <select name="wineColor" id="wineColor" class="selectors-arrow">
            <option value="red">красное</option>
            <option value="white">белое</option>
            <option value="rose">розовое</option>
          </select>
        </li>
        <li>
          <label for="sugarContent">Содержание сахара</label>
          <select name="sugarContent" id="sugarContent" class="selectors-arrow">
            <option value="Сухое">сухое</option>
            <option value="Полусухое">полусухое</option>
            <option value="Полусладкое">полусладкое</option>
            <option value="Десертное полусладкое">десертное полусладкое</option>
            <option value="Десертное сладкое">десертное сладкое</option>
            <option value="Сладкое">сладкое</option>
            <option value="Ликерное">ликерное</option>
            <option value="Крепкое">крепкое</option>
          </select>
        </li>
        <li>
          <input type="checkbox" name="sparkling" id="sparkling" value="Игристое" class="form-sparkling-input visibility-hidden">
          <label for="sparkling" class="form-sparkling-lable">Игристое:
            <div class="form-checkbox-view"></div>
          </label>
        </li>
        <li>
          <label for="formColorText">Цвет</label>
          <input type="text" name="colorText" id="formColorText" required>
        </li>
        <li>
          <label for="aromeText">Аромат</label>
          <input type="text" name="aromeText" id="aromeText" required>
        </li>
        <li>
          <label for="tasteText">Вкус</label>
          <input type="text" name="tasteText" id="tasteText" required>
        </li>
        <li>
          <label for="originText">Происхождение</label>
          <input type="text" name="originText" id="originText" placeholder="Италия" required>
        </li>
        <li>
          <label for="priceText">Цена &#8381;</label>
          <input type="number" name="priceText" id="priceText" required>
        </li>
        <li id="raiting-wrapper">
          <label for="formRaiting"> Рейтинг</label>
          <select name="formRaiting" id="formRaiting" class="selectors-arrow">
            <option>1</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
            <option>5</option>
            <option>6</option>
            <option>7</option>
            <option>8</option>
            <option>9</option>
            <option>10</option>
          </select>
        </li>
        <li>
          <div class="noteText-wraper">
            <label for="noteText">Комментарии:</label>
            <textarea name="noteText" id="noteText">
            </textarea>
          </div>
        </li>
        <li id="file-button">
          <label for="fileFild" class="fileFild">ВЫБРАТЬ ФОТО</label>
          <input type="file" name="file" id="fileFild" class="visibility-hidden">
          <p class="file-text">(jpeg, png, bmp размер до 500 KB)</p>
        </li>
        <li>
          <label for="formSubmit"></label>
          <input type="submit" value="добавить" id="formSubmit">
        </li>
      </ul>
    </form>
    <button type="button" aria-label="Закрыть форму" id="formClose"></button>
  </div>
</section>