<section class="selectors">
    <div>
      <label>красное
        <input type="radio" name="color"  value="red" >
      </label>
      <label>белое
        <input type="radio" name="color" value="red">
      </label>
    </div>
    <div>
      <label for="taste-selector"> </label>
      <select name="taste-selector" id="taste-selector">
        <option>сухое</option>
        <option>полусухое </option>
        <option>полусладкое</option>
        <option>сладкое</option>
        <option>игристое</option>
      </select>
    </div>
    <div>
      <label for="search-string" class="visibility-hidden"></label>
      <input type="text" name="search-string" id="search-string" placeholder="Введите название вина">
    </div>
    <div class="add-button">
    </div>
</section>

<section class="wine-cards">
</section>

<section class="add-wine-form-wrapper">
 <div class="add-wine-form">
    <h3 class="form-titile">Добавить карту</h3>
    <form method="post" enctype="multipart/form-data" name="addcard">
      <ul>
        <li>
          <label for="contributor">Представьтесь</label>
          <input type="text" name="contributor" id="contributor">
        </li>
        <li>
          <label for="formName">Марка</label>
          <input type="text" name="formName" id="formName" placeholder="Cabernet">
        </li>
        <li>
          <label for="formRed">Красное</label>
          <input type="radio" name="colorType" value="red" id="formRed">
        </li>
        <li>
          <label for="formWhite">Белое</label>
          <input type="radio" name="colorType" value="white" id="formWhite">
        </li>
        <li>
          <label for="formColorText">Цвет</label>
          <input type="text" name="colorText" id="formColorText">
        </li>
        <li>
          <label for="aromeText">Аромат</label>
          <input type="text" name="aromeText" id="aromeText">
        </li>
        <li>
          <label for="tasteText">Вкус</label>
          <input type="text" name="tasteText" id="tasteText">
        </li>
        <li>
          <label for="originText">Происхождение</label>
          <input type="text" name="originText" id="originText" placeholder="Италия">
        </li>
        <li>
          <label for="priceText">Цена &#8381;</label>
          <input type="number" name="priceText" id="priceText">
        </li>
        <li>
          <label for="formRaiting"> Рейтинг</label>
          <select name="formRaiting" id="formRaiting">
            <option>1</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
            <option>5</option>
            <option>6</option>
            <option>7</option>
            <option>8</option>
            <option>9</option>
            <option>10</option>
          </select>
        </li>
        <li>
          <div class="noteText-wraper">
            <label for="noteText">Комментарии:</label>
            <textarea name="noteText" id="noteText">
            </textarea>
          </div>
        </li>
        <li id="file-button">
          <div class="fileFild-wraper">
            <label for="fileFild" class="fileFild">ВЫБРАТЬ ФОТО</label>
            <input type="file" name="file" id="fileFild" class="visibility-hidden">
          </div>
        </li>
        <li class="formFileName">
        </li>
        <li>
          <label for="formSubmit"></label>
          <input type="submit" value="добавить" id="formSubmit">
        </li>
      </ul>
    </form>
    <button type="button" aria-label="Закрыть форму" id="formClose"></button>
  </div>
</section>